@import '../../styles/variables';

.GameOuter {
	height: 500px;
	width: 900px;
	border: 6px solid black;

	canvas {
		// background: red;
		border: 1px solid red;
		// border-right: 6px solid black;
	}
}